body {
  font-family: 'Share Tech', sans-serif;
  font-size: 12px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100vw;
  height: 100vh;
  text-shadow: 8px 8px 10px #0000008c;
  background-color: #234d77;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%239C92AC' fill-opacity='0.25' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"), linear-gradient(to right top, #343a40, #2b2c31, #211f22, #151314, #000000);
}

nav {
  background-color: #333;
  padding: 10px;
  color: white;
  display: flex;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: white;
  margin-right: 20px;
}

main {
  padding: 20px;
}

article {
  margin-right: auto; 
  margin-left: auto; 
  margin-bottom: 1em;
  width: 250px; 
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2); 
  height: 100px; 
  border-radius: 5px; 
  backdrop-filter: blur(14px); 
  background-color: rgba(255, 255, 255, 0.2); 
  padding: 10px; 
  text-align: center;
  
  
}

article h2 {
  cursor: pointer;
  display: flex;
  align-items: center;
}
article h2 span {
  color:rgb(241, 213, 175)
  
}

article img {
  border-radius: 60%;
  height: 60%;
}

h2 {
  cursor: pointer;
  display: flex;
  align-items: center;
}

h2 img {
  margin-right: 10px;
  max-width: 50px;
  max-height: 50px;
}

form {
  max-width: 600px;
  margin: 0 auto;
  padding: 40px;
  background-color: #f6e2e2;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #3498db;
}

div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type='submit'] {
  margin-top: 10px;
  padding: 8px 12px;
  background: linear-gradient(-45deg, #9925ea, #338aff, #9925ea);
  background-size: 400%;
  background-position: 90% 0;
  color: #ffffff;
  transition: background 0.8s;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}

input[type='submit']:hover {
  background-position: 185% 50%;
}